<div class="container">

    <div class="xx" >
        <button class="btn btn-warning text-white" (click)="crn1()">{{rn1}}</button>
        <button class="btn btn-primary text-white" (click)="crn2()">{{rn2}}</button>
        <button class="btn btn-warning text-white" (click)="crn3()">{{rn3}}</button>
        <button class="btn btn-primary text-white" (click)="crn4()">{{rn4}}</button>
        <button class="btn btn-warning text-white" (click)="crn5()">{{rn5}}</button>
        <button class="btn btn-primary text-white" (click)="crn6()">{{rn6}}</button>

    </div>

    <div class="selected">
    
        <h1>You've Selected This Random Number</h1>
        <div style="margin-left: 41%;">
            <input class="text-center btn-primary btn" type="text" [value]="result" disabled>
        </div>
    </div>
    <br>

  </div>